@def mainBackground #84DBFF;
@def notBlack #505050;
@def verticalPropertyPadding 6px;

@external  .gwt-SplitLayoutPanel-HDragger;

.gwt-SplitLayoutPanel-HDragger { color: red;
    background-color: #5CB3FF;
 }

.status {
    background-color: mainBackground;
    font-size: 12pt;
}
.titleLabel {
    text-align: center;
    color: notBlack;
    font-size:200%;
    background: #5CB3FF;
    padding-top: 9px;
}

.tree {
    background: #7AD1FF;
 }

 .main {
     background: mainBackground;
 }

 .footer {
     background: #5CB3FF;
 }

.importedTag {
	color: green;
	font-weight: bold;
}

.tag {
	color: black;
}

.headerLabel {
    width: 100%;
    font-size: 13.5pt;
    color: notBlack;

    text-align: center;
    background: #66BDFF;
}

.propertyLabel {
    background: #66BDFF;
    text-align: left;
    font-size: 13pt;
    font-weight: normal;
    padding-top: verticalPropertyPadding;
    padding-bottom: verticalPropertyPadding;
}

.publicCheckbox:focus {
    background: #FFFFDE;
}

.publicCheckbox {
    background: #66BDFF;
    text-align: left;
    font-size: 13pt;
    font-weight: normal;
    padding-top: verticalPropertyPadding;
    padding-bottom: verticalPropertyPadding;
}

.propertyInput {
    background: #DEFFFF;
    font-size: 13pt;
    font-weight: normal;
    padding-top: verticalPropertyPadding;
    padding-bottom: verticalPropertyPadding;
}

.propertyInput:focus {
    background: #FFFFDE;
    padding-top: verticalPropertyPadding;
    padding-bottom: verticalPropertyPadding;
}

.propertyValue {
    background: #70C7FF;
    font-size: 13pt;
    text-align: left;
    font-weight: normal;
    padding-top: verticalPropertyPadding;
    padding-bottom: verticalPropertyPadding;
}

.propertyNumberValue {
    background: #70C7FF;
    font-size: 13pt;
    font-weight: normal;
    text-align: right;
    padding-top: verticalPropertyPadding;
    padding-bottom: verticalPropertyPadding;
}

.labelDetails {
    padding: 2px;

}

.globalActions {
    padding: 2px;

}

.editUsergroup {
    background: mainBackground;
}

.editUsergroupHeader {
     width: 100%;
     font-size: 13.5pt;
     color: notBlack;

     text-align: center;
     background: #66BDFF;
}

.usergroupName {
     width: 100%;
     font-size: 13.5pt;
     color: notBlack;

     text-align: center;
     background: #66BDFF;
}

.manageUsers {
   background: mainBackground;
}

.myUsergroups {
    background: mainBackground;
    vertical-align: top;
}

.myUsergroupsTable {
    background: mainBackground;
    vertical-align: top;
    position: relative;
    margin: 0px;
}

.tableLayout {
}

.tableLayoutLayer {
}

.tableHeader {
}

.copyleft {
    background-color: #88BDFF;
    color: #EEEEEE;
}