@def ligherColor #080808;
@def thirdColor #000000;
@def borderColor #303030;
@def hoverTransform translate(0,-7px) scale(1);
@def hoverMenuTransform scale(1);
@def focusTransform scale(1);
@def upTransform scale(0.8);
@def helpIconTransform scale(1);
@def hoverTransition all 0.2s ease-in-out;
@def disabledGreyScale 75%;

@external gwt-PushButton-up-disabled;
@external gwt-PushButton;
@external gwt-PushButton-up;

.gwt-PushButton-up-disabled
{
    filter: grayscale(disabledGreyScale);
    -webkit-filter: grayscale(disabledGreyScale);
    -moz-filter: grayscale(disabledGreyScale);
    -ms-filter: grayscale(disabledGreyScale);
    -o-filter: grayscale(disabledGreyScale);
}

.gwt-PushButton
{
    background: none;
}
.gwt-PushButton-up
{
    background: none;
}



.button
{
  font-size:160%;
  text-align:center;
  -webkit-transform:upTransform;
  -moz-transform:upTransform;
  transform:upTransform;
  margin:8px 5px 2px;
   -moz-border-radius:15px;
   border-radius:15px;
}


.demoing
{
    background: yellow;
    color: purple;
}

.button:hover
{
  -moz-transform:hoverTransform;
  transform:hoverTransform;
  -webkit-transform:hoverTransform;
  -moz-transition:hoverTransition;
  transition:hoverTransition;
  -webkit-transition:hoverTransition;
  border-color: blue;
  border-style: solid;
  border-width: 2px;
}

.button:focus
{
  -moz-transform:focusTransform;
  transform:focusTransform;
  -webkit-transform:focusTransform;
  border-color: blue;
  border-style: solid;
  border-width: 2px;
}

