@def mainBackground #84DBFF;

.cellTreeWidget {
   background-color: mainBackground;
}

.cellTreeEmptyMessage {
  padding-left: 16px;
  font-style: italic;
}

.cellTreeItem {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: hand;
  cursor: pointer;
}

.cellTreeItemImage {

}

.cellTreeItemImageValue {

}

.cellTreeItemValue {
  padding-left: 3px;
  padding-right: 3px;
  outline: none;
}

.cellTreeOpenItem {

}

.cellTreeTopItem {

  color: #4b4a4a;
  margin-top: 20px;
  padding: 3px 13px 3px 10px !important;
}

.cellTreeTopItemImage {

}

.cellTreeTopItemImageValue {
  border-bottom: 1px solid #6f7277;
  padding-bottom: 1px;
}

.cellTreeKeyboardSelectedItem {
  border-style: dotted;
  border-width: 1px;
  border-color: white;

  color: black;
  outline: none;
}

 .cellTreeSelectedItem {
  /* background: #5CB3FF; */
  background-color: #5CB3FF;
  color: cyan;
  height: auto;
  overflow: visible;
}

.cellTreeShowMoreButton {
  padding-left: 16px;
  outline: none;
}