@def mainBackground #98EFFF;

.titleLabel {
    text-align: center;

    font-size:200%;
    background: #5CB3FF;
}

.tree {
    background: #7AD1FF;
 }

  .main {
     background: #98EFFF;
  }

  .footer {
     background: #5CB3FF;

 }

.importedTag {
	color: green;
	font-size: 130%;
	background: aqua;
}

.button {
    margin: 0;
    padding: 3px 5px;
    text-decoration: none;

    cursor: pointer;
    cursor: hand;
    background: url("images/hborder.png") repeat-x 0px -27px;
    border: 1px outset #ccc;
	padding: 3px;
	margin: auto;

    text-align: center;
    background-color: #ccc;
}

.button:focus {
    color: blue;
    background-color: green;

}
.headerLabel {
    width: 100%;
    font-size: 125%;

    text-align: center;
    background: #66BDFF;
}

.propertyLabel {
    background: #66BDFF;
}

.propertyValue {
    background: #70C7FF;
}

.labelDetails {
    border: 1px solid blue;
}

.editUsergroup {
    background: mainBackground;
    font-size: 130%;
}

.editUsergroupHeader {
    font-size: 20pt;
}

.usergroupName {
    font-size: 20pt;
    font-weight: bold;
    background-color: #66BDFF;
    margin-top: 4px;
    margin-bottom: 25%;
}

.manageUsers {
   background: mainBackground;
    font-size: 130%;
}

.myUsergroups {
    background: mainBackground;
    font-size: 130%;
    vertical-align: top;

}

.myUsergroupsTable {
    background: mainBackground;

    vertical-align: top;
    position: relative;
    margin: 0px;
}

.tableLayout {
    /** background: black;*/
}

.tableLayoutLayer {
    /* background: pink; */
}

.tableHeader {

}

.usergroupsTest {

}