@def allMostBlack #303030;

.button
{
      font-size: 35pt;
      text-align: center;
      color: allMostBlack;
}

.demoing
{
      background: yellow;
      color: purple;
}

.button:hover
{
     color: black;
     border-style: solid;
     border-width: 2px;
     border-color: green;
}

.button:focus
{
      color: black;
      border-style: solid;
      border-width: 2px;
      border-color: blue;
}

