/** Dark theme */
@def ligherColor  #495674;
@def treeColor #9B8C8C;
@def thirdColor #8C9C8C;

@def ligherColor  #080808;
@def treeColor #000000;
@def thirdColor #000000;

@def borderColor #303030;

@def buttonScale 1.3;
@def slideshowAnimationTime 1.2s;


.slideshow {
	background-color: black;
	color: #F0F0F0;
}

.running {
    color: green;
    font-size: 150%;
}

 .tagView {
	border-style: solid;
	border-width: thick;
	background-color: treeColor;
	border-color: borderColor;
    border-collapse: collapse;
    border-width: 1px;
    color: #F0F0F0;
}

.tag {
	color: white;
}

.button {
	padding: 5px;
	margin: auto;
}

.button:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-color: red;
    border-style: solid;
}

.selectedImage {
	/*padding: 4px;*/
	margin: auto;
	border-style: solid;
	border-color: borderColor;
    border-width: 1px;
}
	


.imagePanelBlock {

	padding-top: 100px;
	background-color: ligherColor;
	margin: auto;
    border-style: solid;
    border-color: borderColor;
    border-collapse: collapse;
    border-width: 1px;
}

.photoInfoLabel {
	text-align: center;
	color: foregroundColor;
	font-size: 12px;
}

.pagerLabel {
	text-align: center;
	color: foregroundColor;
	font-size: 12px;
}

.treeBlock {
	background-color: treeColor;
	color: foregroundColor;
    border-style: solid;
    border-color: borderColor;
    border-collapse: collapse;
    border-width: 1px;
}

.userInfoLabel {
	background-color: treeColor;
	color: foregroundColor;
    border-style: solid;
    border-color: borderColor;
    border-collapse: collapse;
    border-width: 1px;

}


.image {
	/*padding: 4px;*/
	margin: auto;
}
