.button {
    font-size: 15pt;
    text-align: center;
    background-color: #ccc;
    color: #3C3C3C;
}

.button:focus {
    color: blue;
    font-size: 16pt;
    border-style: ridge;
    border-width: 3px;
    border-color: blue;

}
