@def ligherColor #080808;
@def thirdColor #000000;
@def borderColor #303030;
@def hoverTransform scale(1);
@def hoverMenuTransform scale(1);
@def focusTransform scale(1);
@def upTransform scale(1);
@def helpIconTransform scale(1);
@def hoverTransition all 0.2s ease-in-out;
@def disabledGreyScale 100%;

@external slideshow-toolbar-button;
@external slideshow-toolbar-button-up;
@external slideshow-toolbar-button-up-disabled;
@external slideshow-toolbar-button-up-hovering;

.slideshow-toolbar-button-up-disabled
{
    filter: grayscale(disabledGreyScale) opacity(0.40) blur(1px);
    -webkit-filter: grayscale(disabledGreyScale) opacity(0.40) blur(1px);
    -moz-filter: grayscale(disabledGreyScale) opacity(0.40) blur(1px);
    -ms-filter: grayscale(disabledGreyScale) opacity(0.40) blur(1px);
    -o-filter: grayscale(disabledGreyScale) opacity(0.40) blur(1px);
}

.slideshow-toolbar-button {

}

.button
{
  /*background-color: #343030;*/
  font-size:160%;
  text-align:center;
  -webkit-transform:upTransform;
  -moz-transform:upTransform;
  transform:upTransform;
  margin:2px 2px 2px 2px;

}


.demoing
{
    background: yellow;
    color: purple;
}

.slideshow-toolbar-button-up-hovering
{
  -moz-transform:hoverTransform;
  transform:hoverTransform;
  -webkit-transform:hoverTransform;
  -moz-transition:hoverTransition;
  transition:hoverTransition;
  -webkit-transition:hoverTransition;
  border-color: blue;
  border-style: solid;
  border-width: 2px;
}

.slideshow-toolbar-button:focus
{
  -moz-transform:focusTransform;
  transform:focusTransform;
  -webkit-transform:focusTransform;
  border-color: blue;
  border-style: solid;
  border-width: 2px;
}

