/** Dark theme */
@def ligherColor  #495674;
@def treeColor #9B8C8C;
@def thirdColor #8C9C8C;

@def ligherColor  #080808;
@def treeColor #000000;
@def thirdColor #000000;

@def borderColor #303030;

@def buttonScale 1.3;



.button {
	margin-top: 8px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 130%;
	text-align: center;
	-webkit-transform: scale(0.8);

	}

.button:hover {
    -moz-transform:  translate(0, -7px) scale(1);
    transform: translate(0, -7px) scale(1);
    -webkit-transform: translate(0, -7px) scale(1);

   /** -moz-box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);**/
    border-color: red;
    border-style: solid;

}

.button:focus {
    border-color: red;
    border-style: solid;
    -moz-transform:  scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
}

.buttonPanelBlock {
    height: 50px;
	background-color: thirdColor;
	margin: auto;
	padding-top: 2px;
	padding-bottom: 2px;
    border-style: solid;
    border-color: borderColor;
    border-collapse: collapse;
    border-width: 1px;

}

.helpPopup {
    height: auto;
	padding: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}

.helpBody {
      -webkit-columns: 400px 3;

}
.helpRow {
    //background: purple;
    -webkit-column-break-after: avoid;
}
.helpTitle {
	font-size: large;
	text-align: center;
	font-style: bold;
	-webkit-column-break-after: avoid;
}

.helpDescription {
     -webkit-column-break-after: avoid;
}

.helpCategory {
       -webkit-column-break-after: auto;
}

.helpCategoryTitle {
    font-size: large;
    -webkit-column-break-after: avoid;
}

.helpSeparator {
	font-weight: bold;
	-webkit-column-break-after: avoid;
}

.helpKey {
	color: yellow;
	font-weight: bold;
	-webkit-column-break-after: avoid;

}

