@def ligherColor #080808;
@def thirdColor #000000;
@def borderColor #303030;
@def hoverTransform translate(0,-7px) scale(1);
@def hoverMenuTransform scale(1);
@def focusTransform scale(1);
@def upTransform scale(0.8);
@def helpIconTransform scale(1);
@def hoverTransition all 0.2s ease-in-out;

.button
{
  font-size:160%;
  text-align:center;
  -webkit-transform:upTransform;
  -moz-transform:upTransform;
  transform:upTransform;
  margin:8px 5px 2px;
   -moz-border-radius:15px;
   border-radius:15px;
}

.menuButton
{
  font-size:160%;
  text-align:center;
  -webkit-transform:upTransform;
  -moz-transform:upTransform;
  transform:upTransform;
  margin:8px 5px 2px;
   -moz-border-radius:15px;
   border-radius:15px;
}


.demo
{
    background: yellow;
    color: purple;
}

.demoPopup
{
   -moz-border-radius:15px;
   border-radius:15px;
   background-color:rgba(0,0,0,0.3);
   color:#FFF;
   padding:5px;
}

.popUpMenu
{
     background-color:thirdColor;

}
.menuItemText
{




}


.menuItem
{
    font-size:160%;
    text-align:center;
    background-color:thirdColor;
    color: white;
     -webkit-transform:upTransform;
      -moz-transform:upTransform;
      transform:upTransform;
}
.menuItem:hover
{

    -moz-transform:hoverMenuTransform;
    transform:hoverMenuTransform;
    -webkit-transform:hoverMenuTransform;
    -moz-transition:hoverTransition;
    transition:hoverTransition;
    -webkit-transition:hoverTransition;


}

.menuItemShortcut{
       font-size:60%;
       margin-left:10px;
}

.helpTitleRow
{

}
.helpClose
{
    align-right:auto;
}
.button:hover
{
  -moz-transform:hoverTransform;
  transform:hoverTransform;
  -webkit-transform:hoverTransform;
  -moz-transition:hoverTransition;
  transition:hoverTransition;
  -webkit-transition:hoverTransition;
  border-color:borderColor;
  border-style:solid;
}

.button:focus
{
  -moz-transform:focusTransform;
  transform:focusTransform;
  -webkit-transform:focusTransform;
}

.buttonPanelBlock
{
  height:60px;
  background-color:thirdColor;
  padding-top:2px;
  padding-bottom:2px;
  border-collapse:collapse;
  border-color:borderColor;
  border-style:solid;
  border-width:1px;
  margin:auto;
}

.helpPopup
{
  -moz-border-radius:15px;
  border-radius:15px;
  background-color:rgba(0,0,0,0.7);
  color:#FFF;
  padding:10px;
}

.helpBody
{


}

.helpTitle
{
  font-size:large;
  text-align:center;
  font-style:bold;


}

.helpActionIcon
{
  display: inline;
  height: 30px;

}
.helpName
{

  text-align:left;
  font-weight:700;
  -webkit-column-break-after:avoid;
}

.helpCategory
{
  -webkit-column-break-after:auto;
}

.helpCategoryTitle
{
  font-size:large;
  -webkit-column-break-after:avoid;
}

.helpSeparator
{
  font-weight:700;
  -webkit-column-break-after:avoid;
}

.helpKey
{
  color:#FF0;
  font-weight:700;
  -webkit-column-break-after:avoid;
}

.helpKeys
{

}

.helpRow
{
  -webkit-column-break-after:avoid;
}

.helpDescription
{
  text-align:left;
}